<div class="container">
    <div class="card">
        <h1>Weather Cast</h1>

        <%= form_with url: search_path, class: "search-form"  do |f| %>
            <%= f.text_field :address, placeholder: "Search by address", autofocus: true %>
            <%= f.submit "Search" %>
        <% end %>

        <div id="result-display"></div>
    </div>
</div>